*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    list-style: none;
    color: black;
}


.nav{
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 15px
}

.logo-section{
    width: 10vw;
    height: 10vh;
    background-image: url('/Group 4.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}
.logo-section img{
    height: 10vh;
}

.main-nav ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 40vw;
    text-decoration: none;
}

.nav-utils ul{
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 20vw;
    
}


li:hover{

font-size: 17px ;
}

@media only screen and (max-width: 680px) {
   
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 5px;
        list-style: none;
        color: black;
    }
    .nav{
        height: 5vh;
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 0px;
    }
    .logo-section{
        height:5vh;
        width: 6vw;
        padding: 0;
        margin: 0; 
        background-image: url('/assets/Group 4.png');
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
    }
    .logo-section a img{
        padding: 0;
        margin: 0;
        background-size: cover;
    }
    .main-nav ul{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 40vw;
        text-decoration: none;
    text-align: center;
}
.nav-utils ul{
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 15vw;   
    text-align: center;
}

li:hover{
font-size: 6px ;
}

    
}